classic/java/tchq/tchq-ws/src/wsdl/tirCarnetQuery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.iru.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.iru.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.iru.org">
      <s:element name="WSTCHQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="su" type="tns:TIRHolderQuery" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TIRHolderQuery">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SubscriberID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESessionKey" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="TIRCarnetHolderQueryParams" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Query_ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSTCHQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSTCHQResult" type="tns:TIRHolderResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TIRHolderResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MessageTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESessionKey" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="TIRCarnetHolderResponseParams" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Query_ID" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSTCHQSoapIn">
    <wsdl:part name="parameters" element="tns:WSTCHQ" />
  </wsdl:message>
  <wsdl:message name="WSTCHQSoapOut">
    <wsdl:part name="parameters" element="tns:WSTCHQResponse" />
  </wsdl:message>
  <wsdl:portType name="SafeTIRHolderQueryServiceClassSoap">
    <wsdl:operation name="WSTCHQ">
      <wsdl:input message="tns:WSTCHQSoapIn" />
      <wsdl:output message="tns:WSTCHQSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SafeTIRHolderQueryServiceClassSoap" type="tns:SafeTIRHolderQueryServiceClassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSTCHQ">
      <soap:operation soapAction="http://www.iru.org/WSTCHQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SafeTIRHolderQueryServiceClassSoap12" type="tns:SafeTIRHolderQueryServiceClassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSTCHQ">
      <soap12:operation soapAction="http://www.iru.org/WSTCHQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SafeTIRHolderQueryServiceClass">
    <wsdl:port name="SafeTIRHolderQueryServiceClassSoap" binding="tns:SafeTIRHolderQueryServiceClassSoap">
      <soap:address location="http://localhost/RTS2/TCHQ_WS/tirCarnetQuery.asmx" />
    </wsdl:port>
    <wsdl:port name="SafeTIRHolderQueryServiceClassSoap12" binding="tns:SafeTIRHolderQueryServiceClassSoap12">
      <soap12:address location="http://localhost/RTS2/TCHQ_WS/tirCarnetQuery.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>