classic/cs/RTSDotNETClient/Service References/ElectronicGuaranteeInformationServiceWS/electronicGuaranteeInformationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://rts.iru.org/EGIS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://rts.iru.org/EGIS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rts.iru.org/EGIS">
      <s:element name="EGISQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="su" type="tns:EGISQueryType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EGISQueryType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SubscriberID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESessionKey" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="EGISQueryParams" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Query_ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EGISResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EGISResult" type="tns:EGISResponseType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EGISResponseType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MessageTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESessionKey" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="EGISResponseParams" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Query_ID" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EGISQuerySoapIn">
    <wsdl:part name="parameters" element="tns:EGISQuery" />
  </wsdl:message>
  <wsdl:message name="EGISQuerySoapOut">
    <wsdl:part name="parameters" element="tns:EGISResponse" />
  </wsdl:message>
  <wsdl:portType name="EGISClassSoap">
    <wsdl:operation name="EGISQuery">
      <wsdl:input message="tns:EGISQuerySoapIn" />
      <wsdl:output message="tns:EGISQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EGISClassSoap" type="tns:EGISClassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EGISQuery">
      <soap:operation soapAction="http://rts.iru.org/EGIS/EGISQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EGISClassSoap12" type="tns:EGISClassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EGISQuery">
      <soap12:operation soapAction="http://rts.iru.org/EGIS/EGISQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EGISClass">
    <wsdl:port name="EGISClassSoap" binding="tns:EGISClassSoap">
      <soap:address location="http://localhost/RTS2/EGIS_WS/electronicGuaranteeInformationService.asmx" />
    </wsdl:port>
    <wsdl:port name="EGISClassSoap12" binding="tns:EGISClassSoap12">
      <soap12:address location="http://localhost/RTS2/EGIS_WS/electronicGuaranteeInformationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>