tirepd-bo-nons/src/main/resources/TIREPD_IE051.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EPD051">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HEAHEA" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RefNumHEA4" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="22" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DocNumHEA5" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="21" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TypOfDecHEA24" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="TIR" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CouOfDesCodHEA30" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CouOfDisCodHEA55" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="InlTraModHEA75" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:enumeration value="3" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TraModAtBorHEA76" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:enumeration value="3" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IdeOfMeaOfTraAtDHEA78" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="27" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IdeOfMeaOfTraAtDHEA78LNG" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NatOfMeaOfTraAtDHEA80" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IdeOfMeaOfTraCroHEA85" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="27" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IdeOfMeaOfTraCroHEA85LNG" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NatOfMeaOfTraCroHEA87" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ConIndHEA96" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!--The next element is REQUIRED IN EU-->
							<xs:element name="NCTSAccDocHEA601LNG" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TotNumOfIteHEA305" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:totalDigits value="5" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TotNumOfPacHEA306" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:totalDigits value="7" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TotGroMasHEA307" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="11" />
										<xs:fractionDigits value="3" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!--One or the other, but not both, of the next two elements MAY be supplied-->
							<xs:element name="DeclarationDate" type="xs:date" minOccurs="0" />
							<xs:element name="DecDatHEA383" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="8" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DecPlaHEA394" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="35" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DecPlaHEA394LNG" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NoRelMotHEA272" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="350" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NoRelMotHEA272LNG" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SecHEA358" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:enumeration value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VehicleMakeName" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="40" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VehicleModelName" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="40" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TRAPRIPC1" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NamPC17" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="35" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="StrAndNumPC122" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="35" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PosCodPC123" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="9" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CitPC124" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="35" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CouPC125" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NADLNGPC" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TINPC159" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="17" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TRACONCO1" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NamCO17" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="35" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="StrAndNumCO122" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="35" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PosCodCO123" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="9" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CitCO124" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="35" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CouCO125" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NADLNGCO" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TRACONCE1" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NamCE17" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="35" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="StrAndNumCE122" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="35" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PosCodCE123" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="9" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CitCE124" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="35" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CouCE125" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NADLNGCE" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CUSOFFDEPEPT" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RefNumEPT1" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="9" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CUSOFFDESEST" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RefNumEST1" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="9" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CONRESERS" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<!--One or the other, but not both, of the next two elements must be supplied-->
							<xs:element name="ControlDate" type="xs:date" minOccurs="0" />
							<xs:element name=" ConDatERS14" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="8" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ConResCodERS16" minOccurs="1">
									<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RESOFCON534" minOccurs="1" maxOccurs="9">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DesTOC2" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="140" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DesTOC2LNG" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ConInd424" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="GUAGUA" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GuaTypGUA1" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="B" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GUAREFREF" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OthGuaRefREF4" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="GOOITEGDS" minOccurs="0" maxOccurs="999">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IteNumGDS7" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:totalDigits value="3" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ComCodTarCodGDS10" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="6" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GooDesGDS23" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="280" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GooDesGDS23LNG" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GroMasGDS46" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="11" />
										<xs:fractionDigits value="3" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CouOfDisGDS58" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CouOfDesGDS59" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PRODOCDC2" minOccurs="1" maxOccurs="99">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DocTypDC21" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DocRefDC23" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RESOFCONROC" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DesROC2" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="140" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DesROC2LNG" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ConIndROC1" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PoiToTheAttROC51" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TRACONCO2" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NamCO27" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="StrAndNumCO222" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PosCodCO223" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CitCO224" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CouCO225" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NADLNGGTCO" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TRACONCE2" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NamCE27" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="StrAndNumCE222" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PosCodCE223" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CitCE224" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CouCE225" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NADLNGGICE" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CONNR2" minOccurs="0" maxOccurs="99">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ConNumNR21" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="17" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NationalityOfContainerCode" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PACGS2" minOccurs="1" maxOccurs="99">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MarNumOfPacGS21" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="42" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MarNumOfPacGS21LNG" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="KinOfPacGS23" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NumOfPacGS24" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NumOfPieGS25" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
