g2b/g2b-ws/src/wsdl/TIREPDG2BService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.iru.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.iru.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.iru.org">
      <xs:element name="TIREPDG2B">
	<xs:complexType>
	  <xs:sequence>
	    <xs:element minOccurs="0" maxOccurs="1" name="su" type="tns:TIREPDG2BUploadParams" />
	  </xs:sequence>
	</xs:complexType>
      </xs:element>
      <xs:complexType name="TIREPDG2BUploadParams">
	<xs:sequence>
	  <xs:element minOccurs="0" maxOccurs="1" name="SubscriberID" type="xs:string" />
	  <xs:element minOccurs="0" maxOccurs="1" name="CertificateID" type="xs:string" />
	  <xs:element minOccurs="0" maxOccurs="1" name="ESessionKey" type="xs:base64Binary" />
	  <xs:element minOccurs="0" maxOccurs="1" name="SubscriberMessageID" type="xs:string" />
	  <xs:element minOccurs="0" maxOccurs="1" name="InformationExchangeVersion" type="xs:string" />
	  <xs:element minOccurs="0" maxOccurs="1" name="MessageName" type="xs:string" />
	  <xs:element minOccurs="1" maxOccurs="1" name="TimeSent" type="xs:dateTime" />
	  <xs:element minOccurs="0" maxOccurs="1" name="MessageContent" type="xs:base64Binary" />
	</xs:sequence>
      </xs:complexType>
      <xs:element name="TIREPDG2BResponse">
	<xs:complexType>
	  <xs:sequence>
	    <xs:element minOccurs="0" maxOccurs="1" name="TIREPDG2BResult" type="tns:TIREPDG2BUploadAck" />
	  </xs:sequence>
	</xs:complexType>
      </xs:element>
      <xs:complexType name="TIREPDG2BUploadAck">
	<xs:sequence>
	  <xs:element minOccurs="0" maxOccurs="1" name="HostID" type="xs:string" />
	  <xs:element minOccurs="0" maxOccurs="1" name="SubscriberMessageID" type="xs:string" />
	  <xs:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="xs:int" />
	  <xs:element minOccurs="1" maxOccurs="1" name="ReturnCodeReason" type="xs:int" />
	</xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="TIREPDG2BSoapIn">
    <wsdl:part name="parameters" element="tns:TIREPDG2B" />
  </wsdl:message>
  <wsdl:message name="TIREPDG2BSoapOut">
    <wsdl:part name="parameters" element="tns:TIREPDG2BResponse" />
  </wsdl:message>
  <wsdl:portType name="TIREPDG2BServiceClassSoap">
    <wsdl:operation name="TIREPDG2B">
      <wsdl:input message="tns:TIREPDG2BSoapIn" />
      <wsdl:output message="tns:TIREPDG2BSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TIREPDG2BServiceClassSoap" type="tns:TIREPDG2BServiceClassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TIREPDG2B">
      <soap:operation soapAction="http://www.iru.org/TIREPDG2B" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TIREPDG2BServiceClassSoap1" type="tns:TIREPDG2BServiceClassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TIREPDG2B">
      <soap12:operation soapAction="http://www.iru.org/TIREPDG2B" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TIREPDG2BService">
    <wsdl:port name="TIREPDG2BServiceClassSoap" binding="tns:TIREPDG2BServiceClassSoap">
      <soap:address location="http://localhost:8080/SMDWEBS/EPD/TIREPDG2B/TIREPDG2BService.asmx" />
    </wsdl:port>
    <wsdl:port name="TIREPDG2BServiceClassSoap1" binding="tns:TIREPDG2BServiceClassSoap1">
      <soap12:address location="http://localhost:8080/SMDWEBS/EPD/TIREPDG2B/TIREPDG2BService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>