b2g/b2g-ws/src/wsdl/TIREPDB2GService.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.iru.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.iru.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.iru.org">
      <s:element name="TIREPDB2G">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="su" type="tns:TIREPDB2GUploadParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TIREPDB2GUploadParams">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SubscriberID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CertificateID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESessionKey" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="SubscriberMessageID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InformationExchangeVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeSent" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageContent" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="TIREPDB2GResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TIREPDB2GResult" type="tns:TIREPDB2GUploadAck" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TIREPDB2GUploadAck">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HostID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubscriberMessageID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TIREPDB2GSoapIn">
    <wsdl:part name="parameters" element="tns:TIREPDB2G" />
  </wsdl:message>
  <wsdl:message name="TIREPDB2GSoapOut">
    <wsdl:part name="parameters" element="tns:TIREPDB2GResponse" />
  </wsdl:message>
  <wsdl:portType name="TIREPDB2GServiceClassSoap">
    <wsdl:operation name="TIREPDB2G">
      <wsdl:input message="tns:TIREPDB2GSoapIn" />
      <wsdl:output message="tns:TIREPDB2GSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TIREPDB2GServiceClassSoap" type="tns:TIREPDB2GServiceClassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TIREPDB2G">
      <soap:operation soapAction="http://www.iru.org/TIREPDB2G" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TIREPDB2GServiceClassSoap1" type="tns:TIREPDB2GServiceClassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TIREPDB2G">
      <soap12:operation soapAction="http://www.iru.org/TIREPDB2G" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TIREPDB2GServiceClass">
    <wsdl:port name="TIREPDB2GServiceClassSoap" binding="tns:TIREPDB2GServiceClassSoap">
      <soap:address location="http://172.25.65.50/RTS2/TIREPDB2G/TIREPDB2GService.asmx" />
    </wsdl:port>
    <wsdl:port name="TIREPDB2GServiceClassSoap1" binding="tns:TIREPDB2GServiceClassSoap1">
      <soap12:address location="http://172.25.65.50/RTS2/TIREPDB2G/TIREPDB2GService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>