b2g/b2g-ws/src/wsdl/TIREPDB2GService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.iru.org" xmlns:tns1="http://www.iru.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.iru.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.iru.org" >
      <xs:element name="TIREPDB2G">
	<xs:complexType>
	  <xs:sequence>
	    <xs:element minOccurs="0" maxOccurs="1" name="su" type="tns1:TIREPDB2GUploadParams" />
	  </xs:sequence>
	</xs:complexType>
      </xs:element>
      <xs:complexType name="TIREPDB2GUploadParams">
	<xs:sequence>
	  <xs:element minOccurs="0" maxOccurs="1" name="SubscriberID" type="xs:string" />
	  <xs:element minOccurs="0" maxOccurs="1" name="CertificateID" type="xs:string" />
	  <xs:element minOccurs="0" maxOccurs="1" name="ESessionKey" type="xs:base64Binary" />
	  <xs:element minOccurs="0" maxOccurs="1" name="SubscriberMessageID" type="xs:string" />
	  <xs:element minOccurs="0" maxOccurs="1" name="InformationExchangeVersion" type="xs:string" />
	  <xs:element minOccurs="0" maxOccurs="1" name="MessageName" type="xs:string" />
	  <xs:element minOccurs="1" maxOccurs="1" name="TimeSent" type="xs:dateTime" />
	  <xs:element minOccurs="0" maxOccurs="1" name="MessageContent" type="xs:base64Binary" />
	</xs:sequence>
      </xs:complexType>
      <xs:element name="TIREPDB2GResponse">
	<xs:complexType>
	  <xs:sequence>
	    <xs:element minOccurs="0" maxOccurs="1" name="TIREPDB2GResult" type="tns1:TIREPDB2GUploadAck" />
	  </xs:sequence>
	</xs:complexType>
      </xs:element>
      <xs:complexType name="TIREPDB2GUploadAck">
	<xs:sequence>
	  <xs:element minOccurs="0" maxOccurs="1" name="HostID" type="xs:string" />
	  <xs:element minOccurs="0" maxOccurs="1" name="SubscriberMessageID" type="xs:string" />
	  <xs:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="xs:int" />
	  <xs:element minOccurs="1" maxOccurs="1" name="ReturnCodeReason" type="xs:int" />
	</xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="TIREPDB2GSoapIn">
    <wsdl:part name="parameters" element="tns:TIREPDB2G" />
  </wsdl:message>
  <wsdl:message name="TIREPDB2GSoapOut">
    <wsdl:part name="parameters" element="tns:TIREPDB2GResponse" />
  </wsdl:message>
  <wsdl:portType name="TIREPDB2GServiceClassSoap">
    <wsdl:operation name="TIREPDB2G">
      <wsdl:input message="tns:TIREPDB2GSoapIn" />
      <wsdl:output message="tns:TIREPDB2GSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TIREPDB2GServiceClassSoap" type="tns:TIREPDB2GServiceClassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TIREPDB2G">
      <soap:operation soapAction="http://www.iru.org/TIREPDB2G" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TIREPDB2GServiceClassSoap1" type="tns:TIREPDB2GServiceClassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TIREPDB2G">
      <soap12:operation soapAction="http://www.iru.org/TIREPDB2G" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TIREPDB2GServiceClass">
    <wsdl:port name="TIREPDB2GServiceClassSoap" binding="tns:TIREPDB2GServiceClassSoap">
      <soap:address location="http://localhost:8080/SMDWEBS/EPD/TIREPDB2G/TIREPDB2GService.asmx" />
    </wsdl:port>
    <wsdl:port name="TIREPDB2GServiceClassSoap1" binding="tns:TIREPDB2GServiceClassSoap1">
      <soap12:address location="http://localhost:8080/SMDWEBS/EPD/TIREPDB2G/TIREPDB2GService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

