classic/java/wsst/wsst-ws/src/wsdl/safetirupload.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.iru.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.iru.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.iru.org">
      <s:element name="WSST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="su" type="tns:SafeTIRUploadParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SafeTIRUploadParams">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SubscriberID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESessionKey" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="safeTIRUploadData" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="CopyToID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender_MessageID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSSTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSSTResult" type="tns:SafeTIRUploadAck" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SafeTIRUploadAck">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResponseTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender_MessageID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSRE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="su" type="tns:SafeTIRReconParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SafeTIRReconParams">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SubscriberID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESessionKey" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="SafeTIRReconData" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender_MessageID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Information_Exchange_Version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WSREResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WSREResult" type="tns:SafeTIRUploadAck" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSSTSoapIn">
    <wsdl:part name="parameters" element="tns:WSST" />
  </wsdl:message>
  <wsdl:message name="WSSTSoapOut">
    <wsdl:part name="parameters" element="tns:WSSTResponse" />
  </wsdl:message>
  <wsdl:message name="WSRESoapIn">
    <wsdl:part name="parameters" element="tns:WSRE" />
  </wsdl:message>
  <wsdl:message name="WSRESoapOut">
    <wsdl:part name="parameters" element="tns:WSREResponse" />
  </wsdl:message>
  <wsdl:portType name="SafeTirUploadSoap">
    <wsdl:operation name="WSST">
      <wsdl:input message="tns:WSSTSoapIn" />
      <wsdl:output message="tns:WSSTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSRE">
      <wsdl:input message="tns:WSRESoapIn" />
      <wsdl:output message="tns:WSRESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SafeTirUploadSoap" type="tns:SafeTirUploadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSST">
      <soap:operation soapAction="http://www.iru.org/WSST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRE">
      <soap:operation soapAction="http://www.iru.org/WSRE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SafeTirUploadSoap12" type="tns:SafeTirUploadSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSST">
      <soap12:operation soapAction="http://www.iru.org/WSST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSRE">
      <soap12:operation soapAction="http://www.iru.org/WSRE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SafeTirUpload">
    <wsdl:port name="SafeTirUploadSoap" binding="tns:SafeTirUploadSoap">
      <soap:address location="http://localhost/RTS2/WSST_WS/safetirupload.asmx" />
    </wsdl:port>
    <wsdl:port name="SafeTirUploadSoap12" binding="tns:SafeTirUploadSoap12">
      <soap12:address location="http://localhost/RTS2/WSST_WS/safetirupload.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>